@media only screen and (min-width: 600px) {
	body {
		max-width: 1000px;
		margin: 0 auto;
	}

	.img1,
	.img2 {
		max-width: 80px;
		height: 80px;
	}

	.ht h1 {
		font-size: 50px;
		margin-top: 20px;
		margin-bottom: 25px;
	}

	.sh h2 {
		font-size: 20px;
		margin-top: -20px
	}

	.cc {
		display: contents;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.cc p {
		text-align: center;
		margin-bottom: 10px;
	}

	.navbar {
		max-width: 1000px;
		margin: 0 auto;
	}

	.hamburger {
		display: none;
	}

	.main-nav {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
	}

	.main-nav > li {
		display: flex;
		text-align: center;
		margin: 20px auto;
	}

	.responsive li {
		flex: 1;
		padding-bottom: 10px
	}

	.townname {
		font-size: 25px;
	}

	.m1 {
		max-width: 1000px;
	}

	.wd {
		padding: 10px 10px 10px 10px;
		position: absolute;
		max-width: 100%;
		color: #fff;
		text-align: center;
		top: 80px;
		left: 5px;

	}

	.wd p {
		line-height: 40px
	}

	.label {
		line-height: 35px;
	}

	.m2 {
		display: contents;
	}

	.forecast h3 {
		padding-top: 20px;
	}

	table {
		padding-bottom: 20px;
	}

	.m3 {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		max-width: 1000px;
		margin: 15px auto;
	}

	.m3 article {}

	.m3 article p {
		line-height: 25px;
		margin: 10px;
	}

	.artimg img {
		max-width: 250px;
		margin: 10px;
	}

	.m4 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		flex-direction: row;
		margin: 10px auto;
	}


	.m4 section p {
		line-height: 25px;
		margin: 10px;
	}

	.map img {
		max-width: 250px;
		margin-top: 10px;
	}

	/*css for gallery*/
	.picContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	/*Form - CSS*/
	legend {
		text-align: center;
		color: white;
		font-size: 28px;
	}

	fieldset {
		font-size: 20px;
	}

	#rating {
		width: 30%;
	}

	.submitBtn {
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.wd {
		padding: 10px;
		text-align: center;
		top: 60px;
		left: 5px;
		font-size: 14px;
	}

	.wd p {
		line-height: 30px
	}

	.picContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 500px) {
	.wd {
		padding: 10px;
		text-align: center;
		top: 40px;
		left: 5px;
		font-size: 10px;
	}

	.wd p {
		line-height: 20px
	}

	.picContainer {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 405px) {
	.wd {
		padding: 10px;
		text-align: center;
		top: 25px;
		left: 5px;
		font-size: 10px;
	}

	.wd p {
		line-height: 16px
	}
}
