body {
    font-family: 'Ubuntu', sans-serif;

}

header h1 {
    /*text-align:center;*/
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1rem;
    box-shadow: 5px 5px 15px #628ca6;
}

thead {
    background-color: #7fb9c2;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

tbody > tr > th {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(2) {
    background: #e7f0ed;
}

tr:nth-child(3) {
    background: #e7ffed;
}

tr:nth-child(4) {
    background: #e7f0ed;
}

tr:nth-child(5) {
    background: #e7ffed;
}

tr:nth-child(5) :nth-child(3) {
    background: #628ca6;
    color: white;
}

tr:nth-child(6) {
    background: #e7f0ed;
}

tr:nth-child(6) :nth-child(1) {
    font: italic 16px Ubuntu, sans-serif;
}

tr:nth-child(7) {
    background: #e7ffed;
}

td {
    text-align: center;
}

tfoot {
    background-color: #7fb9c2;
}

tfoot tr th {
    font-weight: normal;
}

caption {
    padding: 10px;
}
