@media screen and (min-width: 600px) {

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        width: 120px;
        border-bottom: none;
        line-height: 50px;
    }

    header {
        height: 150px;
    }

    nav li {
        display: inline-block;
        margin-right: -4px;
    }

    .hamburger {
        display: none;
    }

    .main-nav li {
        display: contents;
        display: inline-block;
    }

    .main-nav.responsive li {
        display: inline-block;

    }

    .amen {
        border-spacing: 10px;
        margin: 0 auto;
    }

    .amen tbody tr {
        display: inline-flex;
        justify-content:
    }

    .amen tbody tr td {
        padding: 5px;
        /*
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
*/
    }

    /*--------------------------------*/
    /* Form   */
    .falign {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .falign1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }

    /*    */
    .tempGridInfo {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        justify-content: center;
        margin: 0 auto;
        /*    
        grid-column-gap: 10px;
        grid-template-columns: 1fr 1fr;
*/
    }

    .tempGridInfo img {
        max-width: 250px;
        margin: 0 auto;
    }

    .tempGridInfo h4 {
        text-align: center
    }


}

/*
@media screen and (min-width: 1100px) {
    .cumcon {
        padding: 0 250px 0;
    }
}

@media screen and (min-width: 810px) {

    .cumcon,
    #reserveForm {
        padding: 0 150px 0;
    }
}

@media screen and (max-width: 800px) {

    .cumcon,
    #reserveForm {
        padding: 0 100px 0;
    }
}

@media screen and (max-width: 600px) {

    .cumcon,
    #reserveForm {
        padding: 0;
    }
}
*/

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }

    .txtarea textarea {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .bookaroom {
        flex-direction: column;
        text-align: center;
    }

    .bookaroom button {
        margin-top: -10px
    }
}
