/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
    text-align: center;

}

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* section styles */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

section ps {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;

}

section ul {
    margin-top: 0;
    text-align: center;
    list-style-type: none;
    margin-left: -41px;
    line-height: 25px;
}


