html {
  background-color: #6b7a8f;
  font-family: "Lato", sans-serif;
}

header {
  background-color: powderblue;
  text-align: center;
  padding: 0.5rem;
  color: black;
}

header > img {
  width: 150px;
  height: auto;
  vertical-align: middle;
}

.ht {
  display: inline-block;
  vertical-align: middle;
}

.ht h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
}

.sh {
  font-size: 1.1rem;
  color: black;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.cc {
  display: inline-block;
  margin: 1rem 0 1rem 5rem;
  padding: 1.2rem;
  vertical-align: middle;
  color: black;
  background-color: powderblue;
  border: 1px solid blue;
  font-size: 1.1rem;
}

.cc img {
  width: 100px;
  height: auto;
}

nav {
  margin-top: -20px;
  text-align: center;
}

.container > li {
  display: inline-block;
  padding: 0 20px 12px;
  font-size: 1.1rem;
}

nav ul li a:link {
  text-decoration: none;
  color: black;
}

ul {
  background-color: powderblue;
  list-style: none;
}

.m1 {
  background-color: powderblue;
  background-image: url("https://via.placeholder.com/650x150");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  max-width: 670px;
  margin: 20px auto;
}

.s1 img {
  max-width: 150px;
  flex: 1;
}

.m2 {
  background-color: powderblue;
  display: flex;
  flex-direction: row;
  max-width: 670px;
  margin: 20px auto;
}

.s2 {
  flex: 1;
  padding: 10px;
}

.m3 {
  background-color: powderblue;
  display: flex;
  flex-direction: row-reverse;
  max-width: 670px;
  margin: 20px auto;
}

.s4 {
  padding: 10px;
}

.s3 img {
  max-width: 150px;
  flex: 1;
}

.m4 {
  background-color: powderblue;
  display: flex;
  flex-direction: row;
  max-width: 670px;
  margin: 20px auto;
}

.s5 {
  padding: 10px;
}

.s6 {
  padding: 10px;
}

footer {
  background-color: powderblue;
  display: flex;
  justify-content: center;
  max-width: 670px;
  margin: -20px auto 20px;
}
