* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #6b7a8f;
	font-family: "Lato", sans-serif;

}

.wrapperhead {
	background-color: powderblue;
	display: flex;
	justify-content: center;
}

.img1,
.img2 {
	max-width: 50px;
	height: 50px;

}

.img1 {}

.ht h1 {
	display: flex;
	justify-content: center;
	font-family: "Libre Baskerville", serif;
	font-size: 30px;
	margin-top: 20px;
}

.sh h2 {
	font-size: 13px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 10px;
}

.cc {
	border: 1px solid black;
	margin: 10px;
	display: none;
}

.cc p {
	text-align: center;
}

nav {
	background-color: powderblue;
}

.navbar {
	font-size: 18px;
}
.navbar {
  
}

.navbar a {

}

.hamburger {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: powderblue;
	border-color: powderblue;
}

.hamburger img {
	max-width: 6%;
	background-color: powderblue;
}

.main-nav {
	list-style-type: none;
	display: flex;
}

.nav-links,
.logo {
	text-decoration: none;
	color: black;
}

.main-nav {
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 15px auto;
}

.townname {
	text-align: center;
	font-family: "Libre Baskerville", serif;
	background-color: powderblue;
	font-size: 20px;
	margin-top: -10px;
    padding: 10px;
}

.townname h1 {}

.m1 {
	background-image: url(https://rkarchs.github.io/assignments/lesson-5/images/Preston_Map.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.bgc {
	background-color: #6b7a;
	max-width: 190px;
	margin-left: 7px;
}

.wd {
	margin: 15px;
	height: 150px;
	max-width: 160px;
}

.label {
	line-height: 25px;
}

.m2 {
	display: none;
}

.m2 section {
	background-color: powderblue;
}

.forecast h3 {
	text-align: center;
	font-family: "Libre Baskerville", serif;
	font-size: 20px;
}

table {
	margin: 0 auto;
	line-height: 20px;
	border-spacing: 10px;
}

.m3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column-reverse;
	margin-top: 10px;
	background-color: powderblue;
}

.m3 article {
	max-width: 550px;
}

.m3 article p {
	line-height: 25px;
	margin: 20px;
}

.artimg img {
	max-width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.m4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row-reverse;
	margin-top: 15px;
	background-color: powderblue;
}

.m4 section {
	max-width: 550px;
}

.m4 section p {
	line-height: 25px;
	margin: 20px;
}

.map img {
	max-width: 250px;
	margin-top: 20px;
}

footer {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
	background-color: powderblue;
}

footer p {
	padding: 10px
}
