@media screen and (min-width: 600px) {

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        width: 120px;
        border-bottom: none;
        line-height: 50px;
    }

    header {
        height: 150px;
    }

    nav li {
        display: inline-block;
        margin-right: -4px;
    }

    .hamburger {
        display: none;
    }

    .main-nav li {
        display: contents;
        display: inline-block;
    }

    .main-nav.responsive li {
        display: inline-block;

    }

    .amen {
        border-spacing: 10px;
        margin: 0 auto;
    }

    .amen tbody tr {
        display: inline-flex;
        justify-content:
    }

    .amen tbody tr td {
        padding: 5px;
        /*
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
*/
    }

    .tempGridInfo p,
    .tempGridInfo h4 {
        line-height: 12px;
    }

    .conline {
        text-align: center
    }

    .conline p {
        display: inline-block;

    }

    #wdct,
    #oct {
        line-height: 20px;
    }

    .lineheight {}

    .lineheightdco > p {
        line-height: 20px;
    }

    .smish img {
        max-width: 350px;
        margin: 0 auto;
        display: block;
    }

    .smishcon {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*--------------------------------*/
    /* Form   */
    .falign {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .falign1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }
    .falign2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
     .falign3 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media screen and (min-width: 800px) {
    .services {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 25px;
    }

    .sb {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {}


@media screen and (min-width: 700px) {
    .endowtable {}
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }

    .txtarea textarea {
        max-width: 100%;
    }

    .services > div > h3 {
        text-align: center
    }
}

@media screen and (max-width: 400px) {
    .bookaroom {
        flex-direction: column;
        text-align: center;
    }

    .bookaroom button {
        margin-top: -10px
    }

    .tempGridInfo img {
        max-width: 100%;
        margin: 0 auto;
    }

    .smish img {
        max-width: 250px;
        margin: 0 auto;
        display: block;
    }

    .services > div > h3 {
        text-align: center
    }
}
