/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    ;
    color:
        /* #xxxxxx */
    ;
    background-color: gainsboro;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:
        /* x.xrem */
    ;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: white;
} 
header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width:
        /* xxxpx (px = pixel is a unit of measure)  */
    ;
}

header,
footer,
footer a {
    text-align: center;
    background-color:
        /* */
    ;
    color: black;
}

img {
    max-width: 300px;
    height: auto;
}

ul {
    text-align: center;
    list-style-type: none;
    margin-left: -25px;
}

ul li a {
    color: black;
}

footer {
    font-size:
        /* smaller */
    ;
}